

#DIV_1 {
    block-size: 710.025px;
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(128, 128, 128) 0px 0px 10px 0px;
    box-sizing: border-box;
    height: 710.025px;
    inline-size: 594.5px;
    margin-block-start: 34.76px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 297.25px 355.013px;
    tab-size: 4;
    text-size-adjust: 100%;
    transform-origin: 297.25px 355.013px;
    width: 594.5px;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    grid-area: auto / span 12 / auto / span 12;
    grid-column: span 12 / span 12;
    margin: 34.76px 0px 0px;
}/*#DIV_1*/

#DIV_1:after {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    tab-size: 4;
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#DIV_1:after*/

#DIV_1:before {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    tab-size: 4;
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#DIV_1:before*/

#A_2 {
    block-size: 636.825px;
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    display: block;
    height: 636.825px;
    inline-size: 594.5px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    perspective-origin: 297.25px 318.413px;
    position: relative;
    right: 0px;
    tab-size: 4;
    text-decoration: none solid rgb(0, 0, 0);
    text-emphasis-color: rgb(0, 0, 0);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 297.25px 318.413px;
    width: 594.5px;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(0, 0, 0) none 0px;
}/*#A_2*/

#A_2:after {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    tab-size: 4;
    text-decoration: none solid rgb(0, 0, 0);
    text-emphasis-color: rgb(0, 0, 0);
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(0, 0, 0) none 0px;
}/*#A_2:after*/

#A_2:before {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    tab-size: 4;
    text-decoration: none solid rgb(0, 0, 0);
    text-emphasis-color: rgb(0, 0, 0);
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(0, 0, 0) none 0px;
}/*#A_2:before*/

#DIV_3 {
    align-items: center;
    block-size: 594.5px;
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    bottom: 0px;
    box-sizing: border-box;
    cursor: pointer;
    display: grid;
    grid-template-columns: 594.5px;
    grid-template-rows: 594.5px;
    height: 594.5px;
    inline-size: 594.5px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    perspective-origin: 297.25px 297.25px;
    position: relative;
    right: 0px;
    tab-size: 4;
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 297.25px 297.25px;
    width: 594.5px;
    background: rgb(163, 193, 245) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#DIV_3*/

#DIV_3:after {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    tab-size: 4;
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#DIV_3:after*/

#DIV_3:before {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    tab-size: 4;
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#DIV_3:before*/

#H2_4 {
    block-size: 32.325px;
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    bottom: 547.175px;
    box-sizing: border-box;
    caret-color: rgb(20, 80, 184);
    color: rgb(20, 80, 184);
    column-rule-color: rgb(20, 80, 184);
    cursor: pointer;
    height: 32.325px;
    inline-size: 132.762px;
    inset-block-end: 547.175px;
    inset-block-start: 15px;
    inset-inline-end: 436.737px;
    inset-inline-start: 25px;
    left: 25px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    perspective-origin: 66.375px 16.1625px;
    position: absolute;
    right: 436.737px;
    tab-size: 4;
    text-decoration: none solid rgb(20, 80, 184);
    text-emphasis-color: rgb(20, 80, 184);
    text-size-adjust: 100%;
    top: 15px;
    transform-origin: 66.3812px 16.1625px;
    width: 132.762px;
    border: 0px solid rgb(229, 231, 235);
    font: 500 21.5467px / 32.32px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0px;
    outline: rgb(20, 80, 184) none 0px;
    overflow: hidden;
}/*#H2_4*/

#H2_4:after {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(20, 80, 184);
    color: rgb(20, 80, 184);
    column-rule-color: rgb(20, 80, 184);
    cursor: pointer;
    tab-size: 4;
    text-decoration: none solid rgb(20, 80, 184);
    text-emphasis-color: rgb(20, 80, 184);
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 500 21.5467px / 32.32px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(20, 80, 184) none 0px;
}/*#H2_4:after*/

#H2_4:before {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(20, 80, 184);
    color: rgb(20, 80, 184);
    column-rule-color: rgb(20, 80, 184);
    cursor: pointer;
    tab-size: 4;
    text-decoration: none solid rgb(20, 80, 184);
    text-emphasis-color: rgb(20, 80, 184);
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 500 21.5467px / 32.32px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(20, 80, 184) none 0px;
}/*#H2_4:before*/

#IMG_5 {
    block-size: 396.325px;
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    column-rule-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 396.325px;
    inline-size: 594.5px;
    max-inline-size: 100%;
    max-width: 100%;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    object-fit: contain;
    perspective-origin: 297.25px 198.163px;
    tab-size: 4;
    text-decoration: none solid rgba(0, 0, 0, 0);
    text-emphasis-color: rgba(0, 0, 0, 0);
    text-size-adjust: 100%;
    transform-origin: 297.25px 198.163px;
    vertical-align: middle;
    width: 594.5px;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgba(0, 0, 0, 0) none 0px;
}/*#IMG_5*/

#IMG_5:after {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    column-rule-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    tab-size: 4;
    text-decoration: none solid rgba(0, 0, 0, 0);
    text-emphasis-color: rgba(0, 0, 0, 0);
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgba(0, 0, 0, 0) none 0px;
}/*#IMG_5:after*/

#IMG_5:before {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    column-rule-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    tab-size: 4;
    text-decoration: none solid rgba(0, 0, 0, 0);
    text-emphasis-color: rgba(0, 0, 0, 0);
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgba(0, 0, 0, 0) none 0px;
}/*#IMG_5:before*/

#P_6 {
    block-size: 32.325px;
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    bottom: 10px;
    box-sizing: border-box;
    caret-color: rgb(20, 80, 184);
    color: rgb(20, 80, 184);
    column-rule-color: rgb(20, 80, 184);
    cursor: pointer;
    height: 32.325px;
    inline-size: 215.613px;
    inset-block-end: 10px;
    inset-block-start: 552.175px;
    inset-inline-end: 20px;
    inset-inline-start: 358.888px;
    left: 358.888px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    perspective-origin: 107.8px 16.1625px;
    position: absolute;
    right: 20px;
    tab-size: 4;
    text-decoration: none solid rgb(20, 80, 184);
    text-emphasis-color: rgb(20, 80, 184);
    text-size-adjust: 100%;
    top: 552.175px;
    transform-origin: 107.806px 16.1625px;
    width: 215.613px;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0px;
    outline: rgb(20, 80, 184) none 0px;
}/*#P_6*/

#P_6:after {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(20, 80, 184);
    color: rgb(20, 80, 184);
    column-rule-color: rgb(20, 80, 184);
    cursor: pointer;
    tab-size: 4;
    text-decoration: none solid rgb(20, 80, 184);
    text-emphasis-color: rgb(20, 80, 184);
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(20, 80, 184) none 0px;
}/*#P_6:after*/

#P_6:before {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(20, 80, 184);
    color: rgb(20, 80, 184);
    column-rule-color: rgb(20, 80, 184);
    cursor: pointer;
    tab-size: 4;
    text-decoration: none solid rgb(20, 80, 184);
    text-emphasis-color: rgb(20, 80, 184);
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(20, 80, 184) none 0px;
}/*#P_6:before*/

#SPAN_7 {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(20, 80, 184);
    color: rgb(20, 80, 184);
    column-rule-color: rgb(20, 80, 184);
    cursor: pointer;
    perspective-origin: 0px 0px;
    tab-size: 4;
    text-decoration: line-through solid rgb(20, 80, 184);
    text-emphasis-color: rgb(20, 80, 184);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px solid rgb(229, 231, 235);
    font: 450 21.5467px / 32.32px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(20, 80, 184) none 0px;
}/*#SPAN_7*/

#SPAN_7:after {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(20, 80, 184);
    color: rgb(20, 80, 184);
    column-rule-color: rgb(20, 80, 184);
    cursor: pointer;
    tab-size: 4;
    text-decoration: none solid rgb(20, 80, 184);
    text-emphasis-color: rgb(20, 80, 184);
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 450 21.5467px / 32.32px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(20, 80, 184) none 0px;
}/*#SPAN_7:after*/

#SPAN_7:before {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(20, 80, 184);
    color: rgb(20, 80, 184);
    column-rule-color: rgb(20, 80, 184);
    cursor: pointer;
    tab-size: 4;
    text-decoration: none solid rgb(20, 80, 184);
    text-emphasis-color: rgb(20, 80, 184);
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 450 21.5467px / 32.32px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(20, 80, 184) none 0px;
}/*#SPAN_7:before*/

#DIV_8 {
    block-size: 32.325px;
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    cursor: pointer;
    height: 32.325px;
    inline-size: 594.5px;
    margin-block-start: 10px;
    perspective-origin: 297.25px 16.1625px;
    tab-size: 4;
    text-align: center;
    text-size-adjust: 100%;
    transform-origin: 297.25px 16.1625px;
    width: 594.5px;
    border: 0px solid rgb(229, 231, 235);
    font: 14.66px / 21.99px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 10px 0px 0px;
}/*#DIV_8*/

#DIV_8:after {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    cursor: pointer;
    tab-size: 4;
    text-align: center;
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 14.66px / 21.99px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#DIV_8:after*/

#DIV_8:before {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    cursor: pointer;
    tab-size: 4;
    text-align: center;
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 14.66px / 21.99px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#DIV_8:before*/

#P_9 {
    block-size: 32.325px;
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(220, 38, 38);
    color: rgb(220, 38, 38);
    column-rule-color: rgb(220, 38, 38);
    cursor: pointer;
    height: 32.325px;
    inline-size: 594.5px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    perspective-origin: 297.25px 16.1625px;
    tab-size: 4;
    text-align: center;
    text-decoration: none solid rgb(220, 38, 38);
    text-emphasis-color: rgb(220, 38, 38);
    text-size-adjust: 100%;
    transform-origin: 297.25px 16.1625px;
    width: 594.5px;
    border: 0px solid rgb(229, 231, 235);
    font: 21.5467px / 32.32px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0px;
    outline: rgb(220, 38, 38) none 0px;
}/*#P_9*/

#P_9:after {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(220, 38, 38);
    color: rgb(220, 38, 38);
    column-rule-color: rgb(220, 38, 38);
    cursor: pointer;
    tab-size: 4;
    text-align: center;
    text-decoration: none solid rgb(220, 38, 38);
    text-emphasis-color: rgb(220, 38, 38);
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 21.5467px / 32.32px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(220, 38, 38) none 0px;
}/*#P_9:after*/

#P_9:before {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(220, 38, 38);
    color: rgb(220, 38, 38);
    column-rule-color: rgb(220, 38, 38);
    cursor: pointer;
    tab-size: 4;
    text-align: center;
    text-decoration: none solid rgb(220, 38, 38);
    text-emphasis-color: rgb(220, 38, 38);
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 21.5467px / 32.32px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(220, 38, 38) none 0px;
}/*#P_9:before*/

#DIV_10 {
    block-size: 73.2px;
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    height: 73.2px;
    inline-size: 594.5px;
    padding-block-end: 3px;
    padding-block-start: 3px;
    padding-inline-end: 3px;
    padding-inline-start: 3px;
    perspective-origin: 297.25px 36.6px;
    tab-size: 4;
    text-align: center;
    text-size-adjust: 100%;
    transform-origin: 297.25px 36.6px;
    width: 594.5px;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 3px;
}/*#DIV_10*/

#DIV_10:after {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    tab-size: 4;
    text-align: center;
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#DIV_10:after*/

#DIV_10:before {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    tab-size: 4;
    text-align: center;
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#DIV_10:before*/

#DIV_11 {
    block-size: 37.2px;
    border-block-end-color: rgb(20, 80, 184);
    border-block-end-style: solid;
    border-block-end-width: 1.6px;
    border-block-start-color: rgb(20, 80, 184);
    border-block-start-style: solid;
    border-block-start-width: 1.6px;
    border-end-end-radius: 3px;
    border-end-start-radius: 3px;
    border-inline-end-color: rgb(20, 80, 184);
    border-inline-end-style: solid;
    border-inline-end-width: 1.6px;
    border-inline-start-color: rgb(20, 80, 184);
    border-inline-start-style: solid;
    border-inline-start-width: 1.6px;
    border-start-end-radius: 3px;
    border-start-start-radius: 3px;
    box-sizing: border-box;
    height: 37.2px;
    inline-size: 528.5px;
    margin-block-end: 20px;
    margin-block-start: 10px;
    margin-inline-end: 30px;
    margin-inline-start: 30px;
    padding-block-end: 5px;
    padding-block-start: 5px;
    padding-inline-end: 5px;
    padding-inline-start: 5px;
    perspective-origin: 264.25px 18.6px;
    tab-size: 4;
    text-align: center;
    text-size-adjust: 100%;
    transform-origin: 264.25px 18.6px;
    width: 528.5px;
    border: 1.6px solid rgb(20, 80, 184);
    border-radius: 3px;
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 10px 30px 20px;
    padding: 5px;
}/*#DIV_11*/

#DIV_11:after {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    tab-size: 4;
    text-align: center;
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#DIV_11:after*/

#DIV_11:before {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    tab-size: 4;
    text-align: center;
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#DIV_11:before*/

#A_12 {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    perspective-origin: 0px 0px;
    tab-size: 4;
    text-align: center;
    text-decoration: none solid rgb(0, 0, 0);
    text-emphasis-color: rgb(0, 0, 0);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(0, 0, 0) none 0px;
}/*#A_12*/

#A_12:after {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    tab-size: 4;
    text-align: center;
    text-decoration: none solid rgb(0, 0, 0);
    text-emphasis-color: rgb(0, 0, 0);
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(0, 0, 0) none 0px;
}/*#A_12:after*/

#A_12:before {
    border-block-end-color: rgb(229, 231, 235);
    border-block-end-style: solid;
    border-block-start-color: rgb(229, 231, 235);
    border-block-start-style: solid;
    border-inline-end-color: rgb(229, 231, 235);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(229, 231, 235);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    tab-size: 4;
    text-align: center;
    text-decoration: none solid rgb(0, 0, 0);
    text-emphasis-color: rgb(0, 0, 0);
    text-size-adjust: 100%;
    border: 0px solid rgb(229, 231, 235);
    font: 16px / 24px ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(0, 0, 0) none 0px;
}/*#A_12:before*/

